.hideText {
    display: none;
}

.showText {
    display: block;
}

.clickableTitle {
    cursor: pointer;
}

h1 {
    font-family: sans-serif;
}

h2,
p {
    font-family: Arial;
}




/* tabla aparcamientos */

.tabla-aparcamientos {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.tabla-aparcamientos thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.tabla-aparcamientos th,
.tabla-aparcamientos td {
    padding: 12px 15px;
    border-right: 1px solid #dddddd;
}

.tabla-aparcamientos tbody tr {
    border-bottom: 1px solid #dddddd;
}

.tabla-aparcamientos tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.tabla-aparcamientos tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.tabla-aparcamientos tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}


/* tabla rutas */

.tabla-rutas {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.tabla-rutas thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.tabla-rutas th,
.tabla-rutas td {
    padding: 12px 15px;
    border-right: 1px solid #dddddd;
}

.tabla-rutas tbody tr {
    border-bottom: 1px solid #dddddd;
}

.tabla-rutas tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.tabla-rutas tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.tabla-rutas tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}



/* DATOS AEMET */
.title_aemet {
    position: relative;
    left: 1rem;
}

.aclaraciones {
    border: 1px solid #009879;
    position: relative;
    /* width: 45rem; */
    min-width: 10rem;
    max-width: 50rem;
    margin-left: 1rem;
}

.aclaraciones__title {
    background-color: #009879;
    margin-bottom: 0;
    color: white;
    padding: 0.5rem 0rem;
    text-align: center;
    cursor: pointer;
}

.aclaraciones__title:hover+p {
    display: block;
}

.aclaraciones__content {
    padding: 1rem;
    display: none;
}

.aemet_data_container {
    padding: 1rem;
    max-width: 75rem;
}

.aemet_data_container .tablaemet thead th {
    color: white;
    background-color: #009879;
    text-align: center;
}

.aemet_data_container .tablaemet td {
    text-align: center;
}


