<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Informacion de {{ distrito }}</title>
    <link rel="stylesheet" href="style.css">
    <!-- bootsrap link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</head>

<body>
    <h1>Resultados de {{ distrito }} </h1>

    <h2>Rutas de Senderismo:</h2>
    <p>Haz clic en una ruta para ver mas informacion.</p>

    <table class="tabla-rutas">
        <thead>
            <tr>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            {% for ruta in rutas %}
            <tr>
                <td style="font-family: sans-serif;
                font-size: 0.9em;" class="read-more-btn">
                    <h3 class="clickableTitle">{{ ruta.nombre }}</h3>
                </td>
            </tr>

            <tr class="hideText" id="detalles-{{ ruta.id }}">
                <td>
                    <p>Distancia: {{ ruta.distancia }}</p>
                    <p>Tiempo: {{ ruta.tiempo }}</p>
                    <p>Dificultad: {{ ruta.dificultad }}</p>
                    <p>Tipo de Ruta: {{ ruta.tipo_ruta }}</p>
                    <p>Descripcion: {{ ruta.descripcion }}</p>
                    <p>Calidad de la ruta: {{ ruta.trailrank }}</p>
                    <p>Desnivel positivo: {{ ruta.des_pos }}</p>
                    <p>Desnivel negativo: {{ ruta.des_neg }}</p>
                    <p>Altitud maxima: {{ ruta.alt_max }}</p>
                    <p>Altitud minima: {{ ruta.alt_min }}</p>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Informacion historica del Distrito: </h2>
    <p>{{ historia_distrito }}</p>


    <h2>Aparcamientos: </h2>
    <table class="tabla-aparcamientos">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Localidad</th>
                <th>Coordenada X</th>
                <th>Coordenada Y</th>
                <th>Barrio</th>
                <th>Distrito</th>
            </tr>
        </thead>
        <tbody>
            {% for aparcamiento in aparcamientos %}
            <tr>
                <td>{{ aparcamiento.nombre }}</td>
                <td>{{ aparcamiento.localidad }}</td>
                <td>{{ aparcamiento.coordenada_x }}</td>
                <td>{{ aparcamiento.coordenada_y }}</td>
                <td>{{ aparcamiento.barrio }}</td>
                <td>{{ aparcamiento.distrito }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr>
    <h3 class="title_aemet">DATOS METEOROLÓGICOS. Fuente: <a href="https://opendata.aemet.es/centrodedescargas/inicio">Aemet Data</a></h3>

    <div class="aclaraciones">
        <h3 class="aclaraciones__title">Aclaraciones de interpretacion  <b>!</b></h3>
        <p class="aclaraciones__content">
            En ocasiones, aemet no otorga las previsiones para cada periodo específico teniendo en cuenta que ya lo indica para el día completo.
            Por ello, se indica con un "-" en la casilla correspondiente
            <br>
            No obstante, hay casos que si que los adjunta específicamente, por lo que aparece en la casilla el dato correspondiente.
            <br>
            En otros casos, para un parámetro climatológico ni siquiera hay datos, por lo que se rellenan las casillas enteras con "-"
        </p>
      </div>
    <div class="aemet_data_container">
        <table class="table table-bordered tablaemet">
            <thead>
                <th colspan="7"> PERIODOS </th>
              </thead>
              <tbody>
                <tr>
                  <td>DIA</td>
                  <td>1ª Mitad</td>
                  <td>2ª Mitad</td>
                  <td>MADRUGADA</td>
                  <td>MAÑANA</td>
                  <td>TARDE</td>
                  <td>NOCHE</td>
                </tr>
                <tr>
                  <td>00:00 - 24:00</td>
                  <td>00:00 - 12:00</td>
                  <td>12:00 - 24:00</td>
                  <td>00:00 - 06:00</td>
                  <td>06:00 - 12:00</td>
                  <td>12:00 - 18:00</td>
                  <td>18:00 - 24:00</td>
                </tr>
              </tbody>
              <thead>
                <th colspan="7">PRECIPITACIONES</th>
              </thead>
              <tbody>
                <tr>
                    <!-- td con las 7 precipitaciones probabilidad_precipitacion-->
                    {% for prec in datos_aemet.probabilidad_precipitacion%}
                    <td>{{ prec }}</td>
                    {% endfor %}
                </tr>
              </tbody>
              <thead> <th colspan="7">NUBOSIDAD</th></thead>
              <tbody>
                <tr>
                    <!-- td con nubosidad -->
                    {% for nub in datos_aemet.nubosidad %}
                    <td>{{ nub }}</td>
                    {% endfor %}
                </tr>
              </tbody>
              <thead><th colspan="7">COTAS DE NIEVE</th></thead>
              <tbody>
                <tr>
                    {% for data in datos_aemet.cota_nieve %}
                    <td>{{ data }}</td>
                    {% endfor %}
                </tr>
              </tbody>
              <thead><th colspan="7">VIENTOS</th></thead>
              <tbody>
                <tr>
                    {% for data in datos_aemet.viento %}
                    <td>{{ data.direccion}}</td>
                    {% endfor %}
                </tr>
                <tr>
                    {% for data in datos_aemet.viento %}
                    <td>{{ data.velocidad}}</td>
                    {% endfor %} 
                </tr>
              </tbody>
              <thead>
                <th colspan="7">TEMPERATURAS</th>
                <tbody>
                    <tr>
                        <td colspan="7" class="temperaturas"><b>Máxima: </b> {{datos_aemet.temperatura.maxima}}</td>
                    </tr>
                    <tr>
                        <td class="temperaturas" colspan="7"><b>Mínima: </b>{{datos_aemet.temperatura.maxima}}</td>
                    </tr>
                </tbody>
              </thead>
        </table>
    </div>

    <script src="masinfo.js"></script>

</body>

</html>